:root {
  --main-color: #009688;
  --main-transition: 0.3s;
  --slow-transition: 0.3s;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
ul, ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
select,
option,
textarea,
button {
  border: none;
  outline: none;
}
button {
  background-color: transparent;
}
[tooltip] {
  position: relative;
}
[tooltip] > .tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 10px));
  padding: 4px 8px;
  font-size: 10px;
  color: #fff;
  background: #000;
  border-radius: 4px;
  opacity: 0;
  transition: var(--main-transition);
}
[tooltip] > .tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: black;
}
[tooltip]:hover > .tooltip {
  opacity: 1;
}
.add-task {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.add-task button {
  display: inline-block;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
aside .nav-head,
.dashboard-wrapper .dashboard .dash-head,
.targets .target .target-foot,
.targets .target .target-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-opener {
  text-align: center;
  padding: 10px;
  display: none;
}
.navbar-opener i {
  display: inline-block;
  padding: 14px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .navbar-opener {
    display: block;
  }
}
.wrapper {
  display: flex;
}
@media (min-width: 768px) {
  .navbar {
    min-width: 30%;
  }
}
aside {
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: var(--main-color);
  padding: 20px 30px;
  color: #fff;
  z-index: 999;
}
@media (max-width: 767px) {
  aside {
    left: -100%;
    top: 0;
    width: 100%;
    transition: 0.6s;
  }
  aside.active {
    left: 0;
  }
}
aside .nav-head {
  margin-bottom: 35px;
}
aside .nav-head h3 {
  font-size: 30px;
  font-weight: 600;
}
aside .nav-head .navbar-closer {
  font-size: 20px;
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  aside .nav-head .navbar-closer {
    display: block;
  }
}
aside .nav-menu .nav-item:not(:last-child) {
  margin-bottom: 8px;
}
aside .nav-item button {
  padding: 12px 14px;
  width: 100%;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  text-align: left;
  border-radius: 14px;
  cursor: pointer;
  transition: var(--main-transition);
}
aside .nav-item button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.main {
  flex-grow: 1;
  padding: 30px;
}
.targets:not(.month) {
  display: none;
}
.targets .heading {
  font-size: 24px;
  color: #1e1e1e;
  margin-bottom: 30px;
}
.targets .target {
  padding: 15px 20px;
  margin-bottom: 25px;
  border-radius: 14px;
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
@media (max-width: 767px) {
  .targets .target {
    text-align: center;
  }
}
.targets .target::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 2px;
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .targets .target .target-head {
    flex-wrap: wrap;
    text-align: center;
  }
}
.targets .target .title {
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.targets .target .title .priority {
  margin-left: 5px;
  color: var(--main-color);
  cursor: pointer;
}
.targets .target .remove {
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .targets .target .remove {
    flex-basis: 100%;
    margin: auto;
    margin-bottom: 12px;
    order: -1;
  }
}
.targets .target .remove:active {
  transform: scale(0.86);
}
.targets .target p.info {
  font-size: 14px;
  color: #414141;
  line-height: 1.6;
  margin-bottom: 10px;
}
.targets .target .progress {
  width: 70%;
  height: 16px;
  background-color: #ddd;
  border-radius: 13px;
  padding: 2px;
}
.targets .target .progress .fill {
  height: 100%;
  width: 70%;
  border-radius: 14px;
  background-image: linear-gradient(to right, #f16b41 , #e41058);
  position: relative;
}
.targets .target .progress .fill::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.targets .target .setting {
  display: inline-block;
  font-size: 18px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-transition);
}
.targets .target .setting:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
/* style add Dashboard */
.dashboard-wrapper {
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
  display: none;
  overflow: auto;
}
.dashboard-wrapper.active {
  display: flex;
}
.dashboard-wrapper.active .dashboard {
  animation: show-dashboard var(--slow-transition) forwards;
}
@keyframes show-dashboard {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.dashboard-wrapper .dashboard {
  background-color: #fff;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 2px 3px 28px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 20px;
}
.dashboard-wrapper .dashboard .dash-head,
.dashboard-wrapper .dashboard form {
  padding: 12px 25px;
}
.dashboard-wrapper .dashboard .dash-head {
  border-bottom: 1px solid #eee;
}
.dashboard-wrapper .dashboard .dash-head .dash-closer {
  font-size: 22px;
  cursor: pointer;
}
.dashboard-wrapper .dashboard .input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}
.dashboard-wrapper .dashboard .input,
.dashboard-wrapper .dashboard label {
  display: block;
}
.dashboard-wrapper .dashboard label {
  font-size: 13px;
  color: #1e1e1e;
  margin-bottom: 8px;
}
.dashboard-wrapper .dashboard .input {
  border: 1px solid #ddd;
  width: 100%;
  padding: 4px 12px;
  border-radius: 3px;
}
.dashboard-wrapper .dashboard .info,
.dashboard-wrapper .dashboard .title {
  flex-grow: 1;
}
.dashboard-wrapper .dashboard .title {
  margin-right: 12px;
}
/* Hide arrows from: Chrome, Safari, Edge, Opera */
.dashboard-wrapper .dashboard .input[type="number"]::-webkit-inner-spin-button,
.dashboard-wrapper .dashboard .input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide arrows from: Firefox */
.dashboard-wrapper .dashboard .input[type=number] {
  -moz-appearance: textfield;
}
/* Show Percent mark in number field */
.dashboard-wrapper .dashboard .label-wrapper.progress {
  position: relative;
}
.dashboard-wrapper .dashboard .label-wrapper.progress::after {
  content: "%";
  position: absolute;
  right: 10px;
  bottom: 2px;
}
.dashboard-wrapper .dashboard .input#info {
  height: 100px;
  resize: none;
}
.dashboard-wrapper .dashboard .catg select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.dashboard-wrapper .dashboard .dash-foot input {
  padding: 6px 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.dashboard-wrapper .dashboard .dash-foot input[type="submit"] {
  background-color: var(--main-color);
}
.dashboard-wrapper .dashboard .dash-foot input[type="reset"] {
  background-color: #f00;
}
/* style undo alert */
.alert {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px 8px 0 0;
  font-size: 14px;
}
.alert .undo-btn {
  color: rgb(147, 151, 255);
  margin-left: 8px;
  cursor: pointer;
}
